<%- include("partials/_header") -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %></h1>
            <span class="meta"> <%= post.description %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <h2 class="section-heading"><%= post.title %></h2>

          <p><%= post.description %></p>

        </div>
      </div>
      <div class="clearfix">

        <a class="btn btn-danger float-right" href=""
          onclick="return confirm('Are you Sure?')">Delete Post</a>
        <a class="btn btn-success float-right text-white mr-3" href="">Update Post</a>
        
      </div>
    </div>

  </article>


  <%- include('partials/_footer') %>

</body>
